@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper">
    <form asp-action="Index" asp-controller="Pizza" method="get">
        <button class="button btn-success text">Order Pizza Now!</button>
    </form>
</div>